.subCategoryName{
    margin-left: 10px;
    a{
        color: #4f4f4f;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: capitalize;
    }
}